.ui.stackable.relaxed.grid
  .eight.wide.column
    .ui.fluid.segment
      %h2.ui.header PTC Virtual Membership Card
      .ui.two.column.grid
        .column
          = image_tag(current_member.avatar.url(:medium), class: "ui medium rounded image")
        .column
          %h3.ui.header
            = @member.name
          %p
            ID:
            %b=@member.member_number
          %p
            %span Status:
            - if @member.paid_up?
              %span.ui.green.header
                ACTIVE
              %br
              %span Expires:
              = @member.current_membership.expires_on.strftime("%b %d, %Y")
              %br
              %span Member since:
              = @member.since
            - else
              %span.ui.red.header
                EXPIRED

  .right.floated.six.wide.column
    %h2.ui.header Info
    .ui.divided.list
      - if current_member.has_default_avatar?
        .item
          %i.big.yellow.warning.sign.icon
          .content
            .header Update your profile photo
            .description
              Your profile photo shows on your PTC Membership card. You should
              %b
                = link_to "add your photo", member_root_path
              to your profile.
