= form_for @membership do |f|
  .ui.form.fluid
    - if @membership.errors.any?
      .ui.red.message
        .ui.header
          Oops! There was a problem with your submission
          %ul
            - @membership.errors.full_messages.each do |msg|
              %li= msg
    .three.fields
      =f.hidden_field :category, value: @category
      .field
        = f.label :price_paid
        .ui.icon.input
          = f.text_field :price_paid, placeholder: "$40"
          .ui.corner.label
            %i.icon.red.asterisk
      .field
        = f.label :year
        .ui.icon.input
          = f.text_field :year, placeholder: "#{Date.today.year}"
          .ui.corner.label
            %i.icon.red.asterisk
      .field
        .date.field
          = f.label :date_paid
          .ui.icon.input
            = f.text_field :date_paid, placeholder: "#{Date.today}"
            .ui.corner.label
              %i.icon.red.asterisk
    = f.fields_for :member_memberships do |mm_fields|
      = mm_fields.hidden_field :primary
      .two.fields
        .field
          - if mm_fields.object.primary?
            = mm_fields.label "Primary Member"
          - else
            = mm_fields.label "Family Member"
          .ui.fluid.selection.dropdown
            = mm_fields.hidden_field :member_id, {id: "membership_#{mm_fields.index}"}
            .default.text Select a member
            %i.dropdown.icon
            .menu
              - @members.each do |m|
                .item{"data-value" => "#{m.id}"} #{m.name}
        .field
    = f.submit "#{@membership.new_record? ? 'Add Membership' : 'Save'}", class: "ui blue small submit button"
