.four.column.stackable.ui.grid
  .column
    %h2.ui.header
      Memberships (#{@memberships_count} total)
  .column
    .ui.selection.dropdown
      %input{name: "year", type: "hidden", id: "year_selector"}
      .default.text #{@current_year}
      %i.dropdown.icon
      .menu
        - @years.each do |year|
          .item{"data-value" => "#{year}"}
            #{year}
  .column.right.aligned
    = link_to new_membership_path do
      .ui.red.labeled.icon.button
        %i.user.icon
        Add Individual Membership
  .column.right.aligned
    = link_to new_membership_path(category: "Family") do
      .ui.blue.labeled.icon.button
        %i.users.icon
        Add Family Membership
%table.ui.table.segment
  %thead
    %tr
      %th Year
      %th Category
      %th Date Paid
      %th Member Count
      %th Actions
  %tbody
    - @unique_memberships.each do |ms|
      %tr{id: "#{ms.id}"}
        %td= ms.year
        %td= ms.category
        %td= ms.date_paid
        %td
          .list
            - ms.member_memberships.each do |mm|
              - if mm.primary?
                .item
                  %i.large.user.icon
                  = mm.member.name
              - else
                .item
                  %i.small.user.icon
                  = mm.member.name
        %td
