.ui.page.grid
  .column
    .ui.raised.segment
      .ui.attached.message
        .header
          Welcome to the Pittsburgh Triathlon Club, #{resource.first_name}!
        %p
          If you have a Facebook account you can use that to log in. Using
          your Facebook account to log in is for your convenience. The
          PTC Membership Database will never post to your wall or store
          your profile data. 
        - if resource.is_admin?
          %p
            %strong NOTE:
            You are an admin for the Club, so you will access to membership
            information and the ability to add new members when they register.
      = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, class: "ui form attached fluid segment" } do |f|
        = devise_error_messages!
        = f.hidden_field :invitation_token
        .field
          = link_to member_omniauth_authorize_path(:facebook) do
            .ui.facebook.button
              %i.facebook.icon
              Use my Facebook account
        .field
          %p Or pick a password
        .field
          = f.label :password
          = f.password_field :password
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        .field
          = f.submit "Set up your account", class: "ui blue submit button"
