!!!
%head
  / Standard Meta
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  / Site Properities
  %title Pittsburgh Triathlon Club Membership Directory
  %meta{:content => "A membership directory for the Pittsburgh Triathlon Club", :name => "description"}/
  %meta{:content => "membership directory", :name => "keywords"}/
  = stylesheet_link_tag 'application', media: 'all'
  = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.0.0/semantic.min.css', media: 'all'
  = javascript_include_tag 'application'
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.0.0/semantic.min.js'
  = csrf_meta_tags
%body
  - if member_signed_in?
    = render partial: "layouts/menu"
    = render partial: "shared/flash_messages"
  - else
    .ui.secondary.menu.top
      .right.item
        = link_to help_path do
          .ui.teal.large.button
            %i.help.icon
            Help
    = content_tag(:div, "", id: 'home_hero_image', data:{image_path: asset_path("ptc_hero_1.jpg")})
  = yield
