= form_for @member do |f|
  .ui.form.fluid
    - if @member.errors.any?
      .ui.red.message
        .ui.header
          Oops! There was a problem with your submission
          %ul
            - @member.errors.full_messages.each do |msg|
              %li= msg
    .two.fields
      .field
        = f.label :first_name
        .ui.icon.input
          = f.text_field :first_name, placeholder: "First Name"
          .ui.corner.label
            %i.icon.red.asterisk
        = f.label :last_name
        .ui.icon.input
          = f.text_field :last_name, placeholder: "Last Name"
          .ui.corner.label
            %i.icon.red.asterisk
      .field
        = f.label :avatar, "Profile Photo"
        = f.file_field :avatar
        .ui.purple.label
          %i.white.camera.retro.icon
          For best results, use a square photo. 500kb max.
        = image_tag(@member.avatar.url(:small), class: "ui small rounded image")
    .two.fields
      .field
        = f.label :email
        .ui.icon.input
          = f.email_field :email, placeholder: "email@domain.com"
          .ui.corner.label
            %i.icon.red.asterisk
      .field
        = f.label :gender
        .ui.selection.dropdown
          = f.hidden_field :gender
          .default.text ...
          %i.dropdown.icon
          .menu
            .item{"data-value" => "male"} Male
            .item{"data-value" => "female"} Female
    .two.fields
      .date.field
        = f.label :birthdate
        = f.text_field :birthdate, placeholder: "xx/xx/xxxx"
      .field
        = f.label :usat_number, "USAT Number"
        = f.text_field :usat_number, placeholder: "USAT number"
    = f.fields_for :address do |address_fields|
      .field
        = address_fields.label :full_address
        = address_fields.text_field :full_address, placeholder: "123 Any Street, Pittsburgh, PA 15222"
    .two.fields
      .field
        = f.label :cell_phone
        .ui.left.labeled.icon.input
          = f.text_field :cell_phone, placeholder: "(555)-555-5555"
          %i.phone.icon
      .field
        = f.label :home_phone
        .ui.left.labeled.icon.input
          = f.text_field :home_phone, placeholder: "(555)-555-5555"
          %i.phone.icon
    .two.fields
      .field
        = f.label :notes
        = f.text_area :notes
      .inline.field
        .ui.slider.checkbox
          = f.check_box :active
          = f.label :active
        %label
    = f.submit "#{@member.new_record? ? 'Add Member' : 'Save'}", class: "ui blue small submit button"
