.two.column.stackable.ui.grid
  .column
    %h2.ui.header
      Members
  .column.right.aligned
    = link_to(new_member_path) do
      .ui.blue.labeled.icon.button
        %i.user.icon
        Add Member
%table.ui.small.compact.table
  %thead
    %tr
      %th Active?
      %th Name
      %th Email
      %th Address
      %th Cell Phone
      %th Home Phone
      %th Actions
  %tbody
    - @members.each do |member|
      %tr{id: "#{member.id}"}
        %td.center.aligned
          - if member.active?
            %i.green.checkmark.box.icon
        %td
          - if member.male?
            %i.blue.tiny.male.icon
          - if member.female?
            %i.red.tiny.female.icon
          = link_to member.name, edit_member_path(member)
        %td= mail_to member.email
        %td
          - unless member.address.nil?
            = member.address.full_address
        %td
          - if member.cell_phone.present?
            = member.cell_phone.phony_formatted(normalize: :US, spaces: '-')
        %td
          - if member.home_phone.present?
            = member.home_phone.phony_formatted(normalize: :US, spaces: '-')
        %td
          - if member.invitation_accepted_at.blank?
            = link_to "Invite", invite_member_path(member), method: :post
