- flash.each do |key, value|
  %div{:class => "#{flash_class(key)} closable"}
    %i.close.icon
    = value
.two.column.stackable.ui.grid
  .column
    %h2.ui.header
      Members
  .column.right.aligned
    = link_to(new_member_path) do
      .ui.blue.labeled.icon.button
        %i.user.icon
        Add Member
%table.ui.table.segment
  %thead
    %tr
      %th Active?
      %th Name
      %th Email
      %th Gender
      %th USAT #
      %th Birthdate
      %th Address
      %th
        Cell Phone
      %th Home Phone
  %tbody
    - @members.each do |member|
      %tr
        %td
          - if member.active?
            %i.green.checked.checkbox.icon
        %td= link_to member.name, edit_member_path(member)
        %td= mail_to member.email
        %td= member.gender
        %td= member.usat_number
        %td= member.birthdate
        %td
          - unless member.address.nil?
            = member.address.full_address
        %td
          - if member.cell_phone.present?
            = member.cell_phone.phony_formatted(normalize: :US, spaces: '-')
        %td
          - if member.home_phone.present?
            = member.home_phone.phony_formatted(normalize: :US, spaces: '-')
